.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;   /* ADD THIS */
}

.valentine-container img {
  width: 10%;
  max-width: 400px;
  height: auto;
}
